In [2]:
import pandas as pd
import  numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN
#from geopy.distance import great_circle
import pygmaps
from scipy.spatial import ConvexHull

In [91]:
#mymap1 = pygmaps.pygmaps(12.91735500,77.62260400,80)
#mymap2 = pygmaps.pygmaps(12.91735500,77.62260400,120)
#mymap3 = pygmaps.pygmaps(12.91735500,77.62260400,180)
#mymap2_3 = pygmaps.pygmaps(12.91735500,77.62260400,180)
mymap_1_111=pygmaps.pygmaps(12.91735500,77.62260400,180)
mymap_4_111=pygmaps.pygmaps(12.91735500,77.62260400,180)
mymap_5_111=pygmaps.pygmaps(12.91735500,77.62260400,180)
mpmap_1_4_5_111_1=pygmaps.pygmaps(12.91735500,77.62260400,180)

mymap_bus_id1_8_to_8_30=pygmaps.pygmaps(12.91735500,77.62260400,180)
mymap_bus_id3_8_to_8_30=pygmaps.pygmaps(12.91735500,77.62260400,180)

In [92]:
'''# This is for sample testing 
mymap1.addpoint(12.6732,77.525,"#008000")
mymap2.addpoint(11.6732,77.525,"#009000")
mymap3.addpoint(13.8732,77.525,"#006000")
mymap3.addpoint(13.8732,77.525,"#006000")
#mymap.draw('plots/bansal.html')
'''

'# This is for sample testing \nmymap1.addpoint(12.6732,77.525,"#008000")\nmymap2.addpoint(11.6732,77.525,"#009000")\nmymap3.addpoint(13.8732,77.525,"#006000")\nmymap3.addpoint(13.8732,77.525,"#006000")\n#mymap.draw(\'plots/bansal.html\')\n'

In [93]:
####   ploting the data of two buses 
data_1july_150222706=pd.read_csv("/home/b/Desktop/Gis_project/Gis_project/data/356_EW/1july_356ew/150222706.csv")
data_4july_150222706=pd.read_csv("/home/b/Desktop/Gis_project/Gis_project/data/356_EW/4july_356ew/150222706.csv")
data_5july_150222706=pd.read_csv("/home/b/Desktop/Gis_project/Gis_project/data/356_EW/5july_356ew/150222706.csv")
data_1july_150220682=pd.read_csv("/home/b/Desktop/Gis_project/Gis_project/data/356_EW/1july_356ew/150220682.csv")
data_4july_150220682=pd.read_csv("/home/b/Desktop/Gis_project/Gis_project/data/356_EW/4july_356ew/150220682.csv")
data_5july_150220682=pd.read_csv("/home/b/Desktop/Gis_project/Gis_project/data/356_EW/5july_356ew/150220682.csv")

data_4july_150220615=pd.read_csv("/home/b/Desktop/Gis_project/Gis_project/data/356_EW/4july_356ew/150220615.csv")
data_5july_150220615=pd.read_csv("/home/b/Desktop/Gis_project/Gis_project/data/356_EW/5july_356ew/150220615.csv")

In [94]:
list(data_5july_150220615.columns.values)

['DEVICE_ID',
 'LAT',
 'LONGITUDE',
 'SPEED_KMPH',
 'IST_DATE',
 'IST_TIME',
 'ACC_distance']

In [95]:
lat_long_time_data_1july_150222706=data_1july_150222706[['LAT','LONGITUDE','IST_TIME']].copy()
lat_long_time_data_4july_150222706=data_4july_150222706[['LAT','LONGITUDE','IST_TIME']].copy()
lat_long_time_data_5july_150222706=data_5july_150222706[['LAT','LONGITUDE','IST_TIME']].copy()
lat_long_time_data_1july_150220682=data_1july_150220682[['LAT','LONGITUDE','IST_TIME']].copy()
lat_long_time_data_4july_150220682=data_4july_150220682[['LAT','LONGITUDE','IST_TIME']].copy()
lat_long_time_data_5july_150220682=data_5july_150220682[['LAT','LONGITUDE','IST_TIME']].copy()



lat_long_time_data_4july_150220615=data_4july_150220615[['LAT','LONGITUDE','IST_TIME']].copy()
lat_long_time_data_5july_150220615=data_5july_150220615[['LAT','LONGITUDE','IST_TIME']].copy()


lat_long_time_data_5july_150220615.head()

         LAT  LONGITUDE  IST_TIME
0  12.847028  77.672592  00:25:55
1  12.847028  77.672592  00:55:48
2  12.847028  77.672592  01:25:40
3  12.847028  77.672592  01:55:33
4  12.847028  77.672592  02:25:26

In [96]:
data_with_out_dupliacte_1july_150222706 = lat_long_time_data_1july_150222706.drop_duplicates()
data_with_out_dupliacte_4july_150222706 = lat_long_time_data_4july_150222706.drop_duplicates()
data_with_out_dupliacte_5july_150222706 = lat_long_time_data_5july_150222706.drop_duplicates()
data_with_out_dupliacte_1july_150220682 = lat_long_time_data_1july_150220682.drop_duplicates()
data_with_out_dupliacte_4july_150220682 = lat_long_time_data_4july_150220682.drop_duplicates()
data_with_out_dupliacte_5july_150220682 = lat_long_time_data_5july_150220682.drop_duplicates()



data_with_out_dupliacte_4july_150220615 = lat_long_time_data_4july_150220615.drop_duplicates()
data_with_out_dupliacte_5july_150220615 = lat_long_time_data_5july_150220615.drop_duplicates()

data_with_out_dupliacte_5july_150220615.shape

(3643, 3)

In [97]:
data_with_out_dupliacte_5july_150220615[1:15]

          LAT  LONGITUDE  IST_TIME
1   12.847028  77.672592  00:55:48
2   12.847028  77.672592  01:25:40
3   12.847028  77.672592  01:55:33
4   12.847028  77.672592  02:25:26
5   12.846980  77.672569  02:26:29
6   12.846980  77.672569  02:26:34
7   12.846980  77.672569  02:26:44
8   12.846980  77.672569  02:26:54
9   12.846980  77.672569  02:27:04
10  12.846980  77.672569  02:27:14
11  12.846980  77.672569  02:27:24
12  12.846980  77.672569  02:27:34
13  12.846980  77.672569  02:27:44
14  12.846980  77.672569  02:27:54

In [98]:
data_with_out_dupliacte_1july_150222706.shape
data_with_out_dupliacte_5july_150220682.shape

(3857, 3)

In [99]:

lat_long_time_data_1july_150220682_1=data_1july_150220682[['LAT','LONGITUDE']].copy()
lat_long_time_data_4july_150220682=data_4july_150220682[['LAT','LONGITUDE']].copy()
lat_long_time_data_5july_150220682=data_5july_150220682[['LAT','LONGITUDE']].copy()

In [100]:
lat_long_time_data_1july_150220682_1.drop_duplicates()
data_with_out_dupliacte_1july_150220682_array_1 = lat_long_time_data_1july_150220682_1.as_matrix(columns=['LAT','LONGITUDE'])

In [101]:
data_with_out_dupliacte_4july_150222706.shape
data_with_out_dupliacte_4july_150220682.shape

(3175, 3)

In [102]:
data_with_out_dupliacte_5july_150220682.shape

(3857, 3)

In [109]:
#cnvert_all_data_into_matrix
data_with_out_dupliacte_1july_150222706_array = data_with_out_dupliacte_1july_150222706.as_matrix(columns=['LAT','LONGITUDE'])
data_with_out_dupliacte_4july_150222706_array = data_with_out_dupliacte_4july_150222706.as_matrix(columns=['LAT','LONGITUDE'])
data_with_out_dupliacte_5july_150222706_array = data_with_out_dupliacte_5july_150222706.as_matrix(columns=['LAT','LONGITUDE'])
data_with_out_dupliacte_1july_150220682_array = data_with_out_dupliacte_1july_150220682.as_matrix(columns=['LAT','LONGITUDE'])
data_with_out_dupliacte_4july_150220682_array = data_with_out_dupliacte_4july_150220682.as_matrix(columns=['LAT','LONGITUDE'])
data_with_out_dupliacte_5july_150220682_array = data_with_out_dupliacte_5july_150220682.as_matrix(columns=['LAT','LONGITUDE'])

data_with_out_dupliacte_4july_150220615_array=  data_with_out_dupliacte_4july_150220615.as_matrix(columns=['LAT','LONGITUDE','IST_TIME'])
data_with_out_dupliacte_5july_150220615_array=  data_with_out_dupliacte_5july_150220615.as_matrix(columns=['LAT','LONGITUDE','IST_TIME'])

data_with_out_dupliacte_5july_150220615_array.shape

(3643, 3)

In [104]:
data_with_out_dupliacte_1july_150220682_array

array([[ 12.846598,  77.672585],
       [ 12.846598,  77.672585],
       [ 12.846598,  77.672585],
       ...,
       [ 12.846201,  77.672447],
       [ 12.846201,  77.672447],
       [ 12.846201,  77.672447]])

In [105]:
'''for i in range(0,2500):
    mymap1.addpoint(data_with_out_dupliacte_1july_150222706_array[i][0],data_with_out_dupliacte_1july_150222706_array[i][1],"#008000")
    mymap2.addpoint(data_with_out_dupliacte_4july_150222706_array[i][0],data_with_out_dupliacte_4july_150222706_array[i][1],"#009400")
    mymap3.addpoint(data_with_out_dupliacte_5july_150222706_array[i][0],data_with_out_dupliacte_5july_150222706_array[i][1],"#00ffff")
    mymap2_3.addpoint(data_with_out_dupliacte_5july_150222706_array[i][0],data_with_out_dupliacte_5july_150222706_array[i][1],"#00ffff")
    mymap2_3.addpoint(data_with_out_dupliacte_4july_150222706_array[i][0],data_with_out_dupliacte_4july_150222706_array[i][1],"#009400")
    '''

'for i in range(0,2500):\n    mymap1.addpoint(data_with_out_dupliacte_1july_150222706_array[i][0],data_with_out_dupliacte_1july_150222706_array[i][1],"#008000")\n    mymap2.addpoint(data_with_out_dupliacte_4july_150222706_array[i][0],data_with_out_dupliacte_4july_150222706_array[i][1],"#009400")\n    mymap3.addpoint(data_with_out_dupliacte_5july_150222706_array[i][0],data_with_out_dupliacte_5july_150222706_array[i][1],"#00ffff")\n    mymap2_3.addpoint(data_with_out_dupliacte_5july_150222706_array[i][0],data_with_out_dupliacte_5july_150222706_array[i][1],"#00ffff")\n    mymap2_3.addpoint(data_with_out_dupliacte_4july_150222706_array[i][0],data_with_out_dupliacte_4july_150222706_array[i][1],"#009400")\n    '

In [106]:
#mymap1.draw('/home/b/Desktop/Gis_project/Gis_project/plots/firstfile1fiftypoint.html')
#mymap2.draw('/home/b/Desktop/Gis_project/Gis_project/plots/secondfile2fiftypoint.html')
#mymap3.draw('/home/b/Desktop/Gis_project/Gis_project/plots/thirdfile3fiftypoint.html')
#mymap2_3.draw('/home/b/Desktop/Gis_project/Gis_project/plots/2_3_twentyfivehundred.html')

In [107]:
count=0
for j in range(0,3400):
    #mymap_1_111.addpoint(data_with_out_dupliacte_1july_150220682_array[i][0],data_with_out_dupliacte_1july_150220682_array[i][1],"#ff0000")
    #mymap_4_111.addpoint(data_with_out_dupliacte_4july_150220682_array[i][0],data_with_out_dupliacte_4july_150220682_array[i][1],"#00ff00")
    #mymap_5_111.addpoint(data_with_out_dupliacte_5july_150220682_array[i][0],data_with_out_dupliacte_5july_150220682_array[i][1],"#00ffff")
    #mpmap_1_4_5_111_1.addpoint(data_with_out_dupliacte_1july_150220682_array[i][0],data_with_out_dupliacte_1july_150220682_array[i][1],"#ff0000")
    #mpmap_1_4_5_111_1.addpoint(data_with_out_dupliacte_4july_150220682_array[i][0],data_with_out_dupliacte_4july_150220682_array[i][1],"#00ff00")
    #mpmap_1_4_5_111_1.addpoint(data_with_out_dupliacte_5july_150220682_array[i][0],data_with_out_dupliacte_5july_150220682_array[i][1],"#00ffff")
    
    if( (data_with_out_dupliacte_5july_150220615_array[j][2]>'08:00:00') and (data_with_out_dupliacte_5july_150220615_array[j][2]<'08:30:00') ):
        mymap_bus_id3_8_to_8_30.addpoint(data_with_out_dupliacte_5july_150220615_array[j][0],data_with_out_dupliacte_5july_150220615_array[j][1],"#FF0000")
       # print("hello")

In [110]:
mymap_bus_id3_8_to_8_30.draw('/home/b/Desktop/Gis_project/Gis_project/plots/5july_8to8_30.html')

## Congestion data prepration

In [3]:
data_of_buses=pd.read_csv('/home/b/Desktop/Gis_project/Gis_project/data/356_EW/1july_356ew/150218661.csv')

In [4]:
data_of_buses

,DEVICE_ID,LAT,LONGITUDE,SPEED_KMPH,IST_DATE,IST_TIME,ACC_DISTANCE
0,150218661,12.924996,77.592804,0,2016-07-01 00:22:22,00:00:00,12370232
1,150218661,12.924996,77.592804,0,2016-07-01 00:52:15,00:00:00,12370232
2,150218661,12.924996,77.592804,0,2016-07-01 01:22:08,00:00:00,12370232
3,150218661,12.924996,77.592804,0,2016-07-01 01:52:01,00:00:00,12370232
4,150218661,12.925045,77.592834,0,2016-07-01 02:29:45,00:00:00,12370232
5,150218661,12.925045,77.592834,0,2016-07-01 02:29:55,00:00:00,12370232
6,150218661,12.925045,77.592834,0,2016-07-01 02:30:04,00:00:00,12370232
7,150218661,12.925045,77.592834,0,2016-07-01 02:31:24,00:00:00,12370232
8,150218661,12.925045,77.592834,0,2016-07-01 02:30:14,00:00:00,12370232
9,150218661,12.925045,77.592834,0,2016-07-01 02:31:34,00:00:00,12370232
10,150218661,12.925045,77.592834,0,2016-07-01 02:30:24,00:00:00,12370232
11,150218661,12.925045,77.592834,0,2016-07-01 02:31:44,00:00:00,12370232
12,150218661,12.925045,77.592834,0,2016-07-01 02:30:34,00:00:00,12370232
13,150218661,12.925045,77.592834,0,2016-07-01 02:31:54,00:00:00,12370232
14,150218661,12.925045,77.592834,0,2016-07-01 02:30:44,00:00:00,12370232
15,150218661,12.925045,77.592834,0,2016-07-01 02:32:04,00:00:00,12370232
16,150218661,12.925045,77.592834,0,2016-07-01 02:30:54,00:00:00,12370232
17,150218661,12.925045,77.592834,0,2016-07-01 02:31:04,00:00:00,12370232
18,150218661,12.925045,77.592834,0,2016-07-01 02:32:14,00:00:00,12370232
19,150218661,12.925045,77.592834,0,2016-07-01 02:31:14,00:00:00,12370232
20,150218661,12.925045,77.592834,0,2016-07-01 02:32:24,00:00:00,12370232
21,150218661,12.925045,77.592834,0,2016-07-01 02:32:33,00:00:00,12370232
22,150218661,12.925045,77.592834,0,2016-07-01 02:32:43,00:00:00,12370232
23,150218661,12.925045,77.592834,0,2016-07-01 02:32:53,00:00:00,12370232
24,150218661,12.925045,77.592834,0,2016-07-01 02:33:03,00:00:00,12370232
25,150218661,12.925045,77.592834,0,2016-07-01 02:33:13,00:00:00,12370232
26,150218661,12.925045,77.592834,0,2016-07-01 02:33:23,00:00:00,12370232
27,150218661,12.925045,77.592834,0,2016-07-01 02:33:33,00:00:00,12370232
28,150218661,12.925045,77.592834,0,2016-07-01 02:33:43,00:00:00,12370232
29,150218661,12.925045,77.592834,0,2016-07-01 02:33:53,00:00:00,12370232
...,...,...,...,...,...,...,...
3683,150218661,12.924724,77.592255,0,2016-07-01 19:42:49,00:00:00,12535554
3684,150218661,12.924724,77.592255,0,2016-07-01 19:42:59,00:00:00,12535554
3685,150218661,12.924724,77.592255,0,2016-07-01 19:43:09,00:00:00,12535554
3686,150218661,12.924724,77.592255,0,2016-07-01 19:43:19,00:00:00,12535554
3687,150218661,12.924724,77.592255,0,2016-07-01 19:43:29,00:00:00,12535554
3688,150218661,12.924724,77.592255,0,2016-07-01 19:43:39,00:00:00,12535554
3689,150218661,12.924724,77.592255,0,2016-07-01 19:43:49,00:00:00,12535554
3690,150218661,12.924724,77.592255,0,2016-07-01 19:43:59,00:00:00,12535554
3691,150218661,12.924724,77.592255,0,2016-07-01 19:44:09,00:00:00,12535554
3692,150218661,12.924724,77.592255,0,2016-07-01 19:44:19,00:00:00,12535554
3693,150218661,12.924724,77.592255,0,2016-07-01 19:44:29,00:00:00,12535554
3694,150218661,12.924724,77.592255,0,2016-07-01 19:44:38,00:00:00,12535554
3695,150218661,12.924724,77.592255,0,2016-07-01 19:44:48,00:00:00,12535554
3696,150218661,12.924724,77.592255,0,2016-07-01 19:46:18,00:00:00,12535554
3697,150218661,12.924724,77.592255,0,2016-07-01 19:44:58,00:00:00,12535554
3698,150218661,12.924724,77.592255,0,2016-07-01 19:45:08,00:00:00,12535554
3699,150218661,12.924724,77.592255,0,2016-07-01 19:45:18,00:00:00,12535554
3700,150218661,12.924724,77.592255,0,2016-07-01 19:45:28,00:00:00,12535554
3701,150218661,12.924724,77.592255,0,2016-07-01 19:45:38,00:00:00,12535554
3702,150218661,12.924724,77.592255,0,2016-07-01 19:45:48,00:00:00,12535554
3703,150218661,12.924724,77.592255,0,2016-07-01 19:45:58,00:00:00,12535554
3704,150218661,12.924724,77.592255,0,2016-07-01 19:46:08,00:00:00,12535554
3705,150218661,12.924724,77.592255,0,2016-07-01 20:16:11,00:00:00,12535554
3706,150218661,12.924724,77.592255,0,2016-07-01 20:46:04,00:00:00,12535554
3707,150218661,12.924724,77.592255,0,2016-07-01 21:15:57,00:00:00,12535554
3708,150218661,12.924724,77.592255,0,2016-07-01 21:45:50,00:00:00,12535554
3709,150218661,12.924724,77.592255,0,2016-07-01 22:15:43,00:00:00,12535554
3710,150218661,12.924724,77.592255,0,2016-07-01 22:45:36,00:00:00,12535554
3711,150218661,12.924724,77.592255,0,2016-07-01 23:15:29,00:00:00,12535554
3712,150218661,12.924724,77.592255,0,2016-07-01 23:45:22,00:00:00,12535554